body {
    background-color: #222;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: aliceblue;
    margin: 20px;
}
.recognitions_list_and_preview_blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.recognitions_list {
    padding: 10px;
    background-color: #333;
    width: 10%;
    min-width: 200px;
    
}
.recognitions_list_item {
    color: aliceblue;
    background-color: #333;
    background: none;
    border: none;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    transition: all linear .1s;
}
.recognitions_list_item:hover {
    transform: translate3d(-5px, -5px, 0);
    color: gold;
    /* box-shadow: 5px 5px 10px #222;
     */cursor: pointer;
}
.recognition_class_name {
    color: inherit;
}
.recognition_class_count {
    color: a=inherit;
    margin-right: 10px;
}


.preview_block {
    width: 84%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pictire {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.pictire img {
    object-fit: contain;
    max-height: 1000px;
    width: 70%;
    z-index: -1;
}

.change_img_button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 0;
    background-color: rgba(0,0,0,0.2);
    transition: opacity .1s linear;
}

.pictire:hover .change_img_button{
    opacity: 1;
}
.prev {
    margin-right: -45px;
}
.next {
    margin-left: -45px;
}

.title {
    margin-top: 20px;
}
